.companyHeading {
    margin-top: 0px;
}

.newsContainer {
    width: 100%;
    display: flex;
    background-image: url(../../elements/white-cube-pattern-4k-bu.jpg);
    background-size: contain;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.newsCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.newsHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../elements/white-cube-pattern-4k-bu.jpg);
    background-size: cover;
    margin: 0px;
}

.companyInfoSection {
    background-image: url(../../elements/white-cube-pattern-4k-bu.jpg);
    background-size: contain;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.infoSectionRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.changeInfo {
    background-color: white;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 1px 5px 1px;
    border-radius: 5px;
}

.changeCategory {
    font-size: 16px;
}

.changeNumber {
    font-size: 40px;
    color: rgb(27, 22, 22);
}

.verticalLine {
    height: 40px;
    border: 1px solid grey;
}

.changeVariants {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.subChangeGroup {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subGroupHeading {
    font-size: 13px;
}

.subGroupNumber {
    font-size: 30px;
}