.container {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}